body {
font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color:#434455;
    background-color:#FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.container-header {
    display: flex;
    align-items: center;
}

.container-list {
    padding: 32px 0;
    text-align: center;
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.container-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        padding-top: 18px;
        padding-bottom: 18px;
}

.logo-part {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42
}

.mob-menu-button {
    background-color: white;
    border: none;
    height: 24px;
    padding: 0;
    margin-left: 150px;
}

.nav-links {
        display: none;
        gap: 40px;
}

.address-mail a,
.address-tel a {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-transform: lowercase;
        color: #434455;
}

.address-ul {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-left: 332px;
}

.address-item {
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section {
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.main-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        max-width: 169px;
        margin: 0 auto;
}

.main-button-order {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
        background-color: #4d5ae5;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        margin-top: 72px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-order:hover {
    color: #ffffff;
    background: #404bbf;
}

.main-button-order:focus {
    color: #ffffff;
    background: #404bbf;
}

.advantages-title,
.our-portfolio-title {
    font-family: "Roboto", sans-serif;
    text-align: center;
        font-weight: 700;
        font-size: 36px;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        margin-bottom: 72px;
}

.our-porfolio-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: column;
}

.our-portfolio-li {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio-li:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-overlay-container {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-team-title {
    font-family: "Roboto", sans-serif;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color:#2e2f42;
        margin-bottom: 72px;
}

.advantages-subtitle {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 8px;
        text-align: center;
}

.advantages-ul { 
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-li {
    width: 100%;
}

.our-team {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.our-team-ul {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.our-team-li-cadr{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-cadr-list-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-card-items-icons {
    width: 40px;
    height: 40px;
}

.team-cadr-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
}

.team-cadr-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.our-team-icons {
    fill: #f4f4fd;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.our-portfolio-subtitle {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
        color: #2E2F42;
        margin-bottom: 8px;
}

.our-portfolio {
    padding: 120px 0 120px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#F4F4FD;
}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-text {
font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    text-decoration: none;
    width: 264px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-links-list {
    display: flex;
    gap: 16px;
}

.footer-links-items {
    width: 40px;
    height: 40px;
}

.footer-links {
display: flex;
flex-direction: column;
align-items: center;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd;
}

.footer-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.footer-items-links-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.footer-email {
    width: 264px;
    height: 40px;
    border: 1px solid var(--WHITE, #FFF);
    opacity: 0.6;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    color: #ffffff;

}

.footer-email::placeholder {
    color: #FFF;
    opacity: 0.6;
}

.footer-button {
    min-width: 165px;
    align-self: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}

.footer-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-icons {
    margin-left: 16px;
    fill:#FFFFFF;;
}

.advantages-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
}

.advantages-item-svg {
    display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid #434455;
        background-color: #f4f4fd;
        border-radius: 4px;
        display: none;
}

.advantages {
    padding: 96px 0;
}

.links {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.links:hover {
    color: #404bbf;
}

.links:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    display: none;
}

.address-item:hover {
    color: #404bbf;
}

.address-item:focus {
    color: #404bbf;
}

.our-portfolio-text {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
}

h1,h2,h3 {
    margin: 0;
}

p {
    margin: 0;
}

.current {
    position: relative;
    color: #404BBF;
}

.nav-links .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

.form-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 584px;
    background: #fcfcfc;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.20)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12));
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px;
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
    fill: #ffffff;
}

.form-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.name-form-container {
    margin-bottom: 8px;
}

.name-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.name-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.name-icon {
    fill: #4d5ae5;
}

.form-comment {
    margin-bottom: 16px;
}

.comment-area {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
    border-color: #4D5AE5;
}

.comment-area::placeholder {
    opacity: 0.5;
    color: #8E8F99;
}

.checkbox {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 4px;
}

.checkbox-input:checked + .checkbox-label .checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.chechbox-link {
    color:#4d5ae5; 
    text-decoration-line: underline;
}

.send-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    margin-left: auto;
}

.send-button:hover,
.send-button:focus {
    background-color: #404bbf;
}

.container-form.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mob-close-button {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-current {
    color: var(--OCEAN, #404BBF);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.2;
    text-transform: capitalize;
}

.mob-links {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.2;
    text-transform: capitalize;
}

.mob-nav-list:not(:last-child) {
    margin-bottom: 40px;
}

.mob-address-item {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1.2;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-item:hover,
.mob-address-item:focus {
    color: #4D5AE5;
}

.mob-address-mail {
    margin-bottom: 24px;
}

.mob-address-tel {
    margin-bottom: 48px;
}

.mob-links-list {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
    .our-team > .container {
        max-width: 584px;
    }

    .advantages-subtitle {
        text-align: start;
    }

    .advantages-li {
        width: calc((100% - 24px) / 2);
    }
    .advantages-ul {
        gap: 24px;
    }

    .our-team-li-cadr {
        width: calc((100% - 24px) / 2);
    }
    
    .our-team-ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
    
    .main-title {
        font-size: 56px;
        max-width: 496px;
        }
    
    .main-button-order {
        margin-top: 36px;
    }

    .main-section {
        padding: 112px 0;
    }

    .our-porfolio-ul {
        flex-direction: row;
    }

    .our-portfolio-li {
        width: calc((100% - 24px) / 2);
    }

    .footer-items-links-container {
        flex-direction: row;
        justify-content: start;
        padding-left: 108px;
        gap: 24px;
    }

    .footer-items {
        align-items: start;
    }

    .footer-links {
        align-items: start;
    }

    .footer-form {
        flex-direction: row;
    }

    .footer-form-container {
        display: block;
        padding-left: 108px;
    }

    .mob-menu-button {
        display: none;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-links {
        display: flex;
    }

    .main-section {
        padding: 188px 0;
    }

    .address {
        display: flex;
    }

    .address-ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 120px;
    }

    .address-mail a,
    .address-tel a {
        font-size: 14px;
        line-height: 1.4;
    }

    .logo {
        padding-top: 22px;
        padding-bottom: 22px;
    }

    .form-box {
        width: 408px; 
        padding: 72px 24px 24px;
    }

    .mob-privacy {
        display: inline-flex;
        gap: 3px;
    }

    .mob-menu {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .advantages-subtitle {
        font-weight: 500;
        font-size: 20px;
    }
        
    .advantages-text {
        font-weight: 400;
    }
    
    .advantages {
        padding: 120px 0;
    }
    
    .advantages-ul {
        flex-wrap: nowrap;
    }
    
    .advantages-item-svg {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid #434455;
        background-color: #f4f4fd;
        border-radius: 4px;
    }

    .our-team-li-cadr {
        width: calc((100% - 72px) / 4);
    }

    .our-team-ul {
        gap: 24px; 
    }

    .our-team {
        padding: 120px 0;
    }
    
    .our-team > .container {
    max-width: 1158px;
    }

    .our-portfolio-li {
    width: calc((100% - 48px) / 3);
    }

    .container-footer {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .footer-form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        align-items: start;
    }

    .footer-items-links-container {
        padding-left: 0;
        gap: 0;
    }

    .footer-items {
        margin-right: 120px;
    }

    .footer-links {
        margin-right: 80px;
    }
    
    .logo {
        margin-right: 76px;
    }

    .address-ul {
        padding-left: 332px;
        flex-direction: row;
        gap: 40px;
    }

    .address-mail a,
    .address-tel a {
        font-size: 16px;
        line-height: 1.5;
    }
}